{% extends 'base.html' %}

{% block title %}DBMS Lab Project{% endblock %}

{% block content %}
<h1 class="text-4xl font-semibold mb-5 text-center">DBMS Lab Project</h1>

<div class="flex flex-col items-center justify-center">
    <h2 class="text-3xl font-semibold mb-3">Group 1</h2>
    <div class="p-12 rounded-lg w-full md:w-1/2">
        <ul class="text-xl justify-center text-center">
            <li class="mb-3">Hushraj Singh - Roll No. 102203576</li>
            <li class="mb-3">Lovish Garg - Roll No. 102203525</li>
            <li class="mb-3">Yuvraj Singh - Roll No. 102203629</li>
            <li class="mb-3">Mankirat Singh - Roll No. 102203620</li>
            <li class="mb-3">Rajvir Singh - Roll No. 102203631</li>
        </ul>
    </div>
</div>
{% endblock %}
